.ColorCard {
  display: flex;
  justify-content: space-evenly;
  height: 85vh;
  width: 20vw;
}

.ColorCard__footer {
  align-content: space-between;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  margin: 0px 18px 10px 0px;
}

.ColorCard__h4 {
  font-size: 45px;
  margin: 0;
}

.ColorCard__lock--icon {
  height: 40px;
  margin-right: 12px;
  transform: translateX(-50%);
  transform: translateY(25%);
  width: 40px;
}