.PaletteCard {
  height: 27vh;
  margin: 15px;
  min-width: 300px;
}

.PaletteCard__header {
  display: flex;
  justify-content: space-between;
}

.PaletteCard__p--palette-name {
  font-size: 25px;
  font-weight: 200;
  margin: 0;
  padding-bottom: 5px;
}

.PaletteCard__delete--icon {
  cursor: pointer;
  height: 20px;
  transform: translateY(42%);
  width: 20px;
}

.PaletteCard__div--color {
  height: 55px;
}