.PaletteCard {
  height: 27vh;
  margin: 20px;
  min-width: 200px;
}

.PaletteCard__header {
  display: flex;
  justify-content: space-between;
}

.PaletteCard__p--palette-name {
  font-size: 25px;
  margin: 0;
}

.PaletteCard__delete--icon {
  cursor: pointer;
  height: 20px;
  transform: translateY(42%);
  width: 20px;
}

.PaletteCard__div--color {
  height: 35px;
}